.App {
  text-align: center;
}


.imagens{
  display: flex;
  flex-direction: row;
}
.alerta{
  color: red; 
  font-size: 12px;
}

.predio img{
  height: 25rem;
  display: flex;
}

.caminhaocomescada img{
 
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: flex-end;
  align-items: flex-end;
  
}


.resultado{
  display: flex;
  text-align: center;
  align-items: flex-end;
  border-top: black;
  width: 15rem;
  padding: 5px;
  border-bottom-style: solid;
  
}

